body {
  background-color: #ffe4c4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h1 {
  margin: 0.75rem 0rem;
}

.number {
  font-size: 3.5rem;
}

.btn {
  margin-left: 1rem;
  width: 4rem;
}

.btn-reset {
  width: 6rem;
  letter-spacing: 1px;
}
